<nav class="mdl-navigation">
    <div style="color: white; margin-left: 20px;">CUT-OFF DATA</div>
    <a class="mdl-navigation__link" style="color: white; font-size: 14px; " href="/Capacity/Schedule">
        <i class="material-icons" style="margin-right: 20px">assignment_turned_in</i>
        Capacity
    </a>
    <a class="mdl-navigation__link" style="color: white; font-size: 14px; " href="/Demand/WIP">
        <i class="material-icons" style="margin-right: 20px">perm_media</i>
        WIP
    </a>
    <a class="mdl-navigation__link" style="color: white; font-size: 14px; " href="/Material/On_Hand">
        <i class="material-icons" style="margin-right: 20px">widgets</i>
        On Hand
    </a>
    <a class="mdl-navigation__link" style="color: white; font-size: 14px; " href="/Material/On_Order">
        <i class="material-icons" style="margin-right: 20px">add_shopping_cart</i>
        On Order
    </a>
    <div style="color: white; margin-left: 20px; margin-top: 10px;">DEMAND</div>
    <a class="mdl-navigation__link" style="color: white; font-size: 14px; " href="/Demand/WO_Creation">
        <i class="material-icons" style="margin-right: 20px">explore</i>
        WO Creation
    </a>
    <div style="color: white; margin-left: 20px; margin-top: 10px;">MATERIAL</div>
    <a class="mdl-navigation__link" style="color: white; font-size: 14px; " href="/Material/Material_Ordering">
        <i class="material-icons" style="margin-right: 20px">view_list</i>
        Material Ordering
    </a>
    <a class="mdl-navigation__link" style="color: white; font-size: 14px; " href="Material/Bill_Of_Material">
        <i class="material-icons" style="margin-right: 20px">class</i>
        BOM Setup
    </a>
    <a class="mdl-navigation__link" style="color: white; font-size: 14px; " href="/Material/Fabric_Setup">
        <i class="material-icons" style="margin-right: 20px">settings</i>
        Fabric Setup
    </a>
    <a class="mdl-navigation__link" style="color: white; font-size: 14px; " href="/No_Demand">
        <i class="material-icons" style="margin-right: 20px">content_paste_off</i>
        No Demand
    </a>
    <hr>
    <a class="mdl-navigation__link" style="color: white; font-size: 14px; " href="">
        <i class="material-icons" style="margin-right: 20px">account_circle</i>
        LOG OUT
    </a>
</nav>