<!-- partial/top_header.ejs -->
<div style="background-image: url('/15.jpg'); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;" 
class="p-1 bg-primary text-center">
  <h1>Welcome to ROH planning Web-Application</h1>
  <p>Pages are under developing!</p> 
</div>