<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>
<body>

<%- include('partial/top_header.ejs') %>
<%- include('partial/nav.ejs') %>

<div class="container-fluid container-margin mt-15" style="height: calc(100vh - 220px);">
  <div class="row" style="height: calc(100vh - 300px);">
    <!-- place your content here -->
    <div class="container-fluid container-margin">
      <h2 style="text-decoration: underline;">upload intimates leadtime by excel file</h2>
      <!-- Table to display records -->
      <div class="row" id="loading-div">
          <div class="mt-3 p-2 bg-dark text-white" style="width: 100%;">
            <div class="container-fluid container-margin">
              <form id="'upload_form" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="fileUpload">Select File:</label>
                  <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                </div>
                <!-- <input type='submit' id='submit' style='display: none;'> -->
                <button id="btn_upload_it_leadtime" class="btn btn-primary">Upload</button>
                <button id="btn_view_style" class="btn btn-info">Check by Style</button>
                <button id="btn_download_template" class="btn btn-link">Download Current Leadtime and template</button>
              </form>
            </div>
          </div>
      </div>
      <div class="row" id="loading-spinner">
        <div class="bg-dark text-white mt-3 p-2 " style="width: 100%;">
          <h3>Uploading file.....</h3>
          <div class="mt-5 d-flex justify-content-center bg-dark text-white align-items-center">
            <div class="spinner-border bg-dark text-white" role="status">
              <!-- <span class="visually-hidden">Loading...</span> -->
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive mt-1" style="height: calc(100vh - 420px); overflow-y: scroll;background-color: whitesmoke;">
        <style>
          .table-responsive {
            position: relative;
            overflow: auto;
          }
    
          .table-fixed-header thead {
            position: sticky;
            top: 0;
            background-color: #f5f5f5;
            z-index: 1;
          }
        </style>
        <table style="background-color: whitesmoke;" class="table table-bordered table-hover table-fixed-header mt-2" id="style_table">
          <thead>
            <tr >
              <th>ID</th>
              <th>SELLING STYLE</th>
              <th>COLOR</th>
              <th>MATERIAL LT</th>
              <th>PLANNING LT</th>
              <th>WO LT</th>
              <th>SEW LEADTIME</th>
              <th>userupdate</th>
              <th>timeupdate</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>

<%- include('partial/footer.ejs') %>
<!-- Edit Dialog -->
<style>
  .custom-modal .modal-dialog {
    width: 60%;
    max-width: 50%;
    margin-top: 140px;
  }
</style>
<div class="modal fade custom-modal" id="searchDialog" tabindex="-1" role="dialog" aria-labelledby="editDialogLabel" aria-hidden="true">
  <div class="modal-dialog custom-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDialogLabel">Please Type in style you want to review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="sellingstyle">Selling style:</label>
            <input type="text" onkeypress="selling_enter(event)" class="form-control" id="sellingstyle" name="sellingstyle" required>
          </div>
          <div class="form-group">
            <label >select action:</label>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button type="button" onclick="search_style_leadtime()" class="btn btn-link">Search</button>
            </div>
            <div class="col-sm-6">
              <button type="button" onclick="search_style_leadtime()" class="btn btn-link">Show leadtime</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap JS and jQuery -->

<script>
  window.onload = function() {
  var element = document.getElementById("it_upload_leadtime");
  element.classList.add("active");
  };
  function formatDate(datestr) {
    date= new Date(datestr);
    console.log(date);
    const year = 1900+date.getYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
}
  function openDialog() {
    // Get the row data based on the row identifier
    //const rowData = getRowData(rowId); // Implement this function to fetch row data as needed
    // Populate the form fields with the row data
    // $('#email').val(rowData.email);
    // Show the dialog
    $('#searchDialog').modal('show');
  }
  function selling_enter(event){
    if (event.keyCode === 13) {
      event.preventDefault();
      search_style_leadtime()
    }
  }
  function search_style_leadtime(){
    let selling_style=$('#sellingstyle').val();
    let data_send = {
      selling_style:selling_style
        };
    console.log(data_send)
    var xhttp = new XMLHttpRequest();
    xhttp.open("post", "/ais/it_search_style_selling", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send(JSON.stringify(data_send));
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4) {
        if (this.status == 200){
          var res_result=this.responseText
          var ttdt=''
          if (res_result=="something went wrong"){
            Swal.fire("AIS notification", "Something went wrong!!!\n please try again later.", "warning");
          } 
          else{
            // sessionStorage.setItem('res_program_stt',res_result);
            // alert(res_result)
            // if (res_result.includes('Thank')){
            //   window.location.reload()
            // }
              info=JSON.parse(res_result)
              // console.log(info)
              if (info.length>0){
                for (i=0;i<info.length;i++){
                  ttdt+='<tr><td>'+parseInt(i+1) + '</td><td >'+info[i].STYLE+ '</td><td >'+info[i].COLOR+ '</td><td >'+info[i].Material_LT + '</td><td >'+info[i].Planing_LT + '</td><td >' + info[i].WO_LT + '</td><td >' + info[i].SEW_LEADTIME
                  ttdt+= '</td><td >'
                  ttdt+= info[i].USERUPDATE+ '</td><td >'+formatDate(info[i].TIMEUPDATE)+'</td></tr>';
                }
              }
              $('#style_table tbody').html(ttdt)
            }
        
        }
        else if (this.status === 302) {
        // Redirect occurred
          alert('need to login before upload')
          window.location.href = '/login';
        } 
        else {
                        // Other error occurred
          console.log('Error:', xhr.status);
        }
      }
    }
  }
</script>
</body>
<script>
  window.addEventListener('load', function () {
    document.getElementById('loading-spinner').style.display = 'none';
  });
  $('#upload_form').submit(function(event) {
          event.preventDefault();
  });
  document.getElementById('btn_view_style').addEventListener('click', function(){
    event.preventDefault();
    console.log('button view style clicked');
    openDialog()
  });
  document.getElementById('btn_download_template').addEventListener('click', function(){
    event.preventDefault();
    document.getElementById('btn_download_template').disabled = true;
    document.getElementById('btn_download_template').innerText='Downloading...'
    console.log('button download style clicked');
    let data_send = {
      command:'download_it_leadtime'
        };
    console.log(data_send)
    var xhttp = new XMLHttpRequest();
    xhttp.open("post", "/ais/it_download_style_leadtime", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send(JSON.stringify(data_send));
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4) {
        if (this.status == 200){
          var res_result=this.responseText
          var ttdt=''
          if (res_result=="connection error"){
            Swal.fire("AIS notification", "Something went wrong!!!\n please try again later.", "warning");
          } 
          else{
            const link = document.createElement('a');
            // var link=document.getElementById('adownload')
            // Set the file URL
            link.href = '/download/IT/Leadtime/'+res_result;
            // Set the desired file name
            link.download = res_result;
            // Trigger the click event on the link
            link.click();
            Swal.fire("Success!","File have been downloaded","success")
            document.getElementById('btn_download_template').disabled = false;
            document.getElementById('btn_download_template').innerText='Download Current Leadtime and template'
            }
        }
        else if (this.status === 302) {
                    // Redirect occurred
                      alert('need to login before upload')
                      window.location.href = '/login';
                    } 
        else {
            // Other error occurred
            console.log('Error:', xhr.status);
        }
      }
    }
  });

  document.getElementById('btn_upload_it_leadtime').addEventListener('click', function(){
    event.preventDefault();
    console.log('button clicked');
    var spinner = document.getElementById('loading-spinner');
    var divload= document.getElementById('loading-div');
    if (document.getElementById('fileUpload').value!=''){
            console.log('pass to here')
            var xsend=new XMLHttpRequest();
            var fileInput=document.getElementById('fileUpload');
            var file=fileInput.files[0];
            console.log(file['name']);
            var formData=new FormData();
            formData.append('file_excel', file);
            if (file!=null){
                xsend.open('POST', '/ais/Upload_it_leadtime', true);
                xsend.send(formData);
                // alert('file sending, please wait...');
                spinner.style.display = 'block';
                divload.style.display = 'none';
            }
            xsend.onreadystatechange=function(){
                if (this.readyState==4){
                    console.log(this.status)
                    if (this.status==200){
                    //done
                    result=xsend.responseText;
                    // console.log(result);
                    // alert(result);
                    Swal.fire("AIS notification", result, "info");
                    spinner.style.display = 'none';
                    divload.style.display = 'block';
                    }
                    else if (this.status === 302) {
                    // Redirect occurred
                      alert('need to login before upload')
                      window.location.href = '/login';
                    } 
                    else {
                        // Other error occurred
                        console.log('Error:', xhr.status);
                    }

              } 
              else {
                  console.log(this);
              }
            }
        }
    else{
      // console.log("chua chon file")
      Swal.fire("AIS notification", "Please select file first.", "info");
    }
  })

</script>



</html>